@import "tailwindcss";
@plugin "daisyui" {
  themes: dim --default;
}

/* using html selector for custom properties */
/*
* pink: #CB8589;
* blak: #343434;
* blue: #2F3061;
* yellow: #FFE66D;
* green: #7E8D85;
* stone: #44403c;
*/

@theme {
  --color-iuc-pink: hsl(357, 40%, 66%);
  --color-iuc-black: hsl(0, 0%, 20%);
  --color-iuc-blue: hsl(239, 35%, 28%);
  --color-iuc-yellow: hsl(50, 100%, 71%);
  --color-iuc-green: hsl(148, 6%, 52%);
  --color-iuc-stone: hsl(30 6.3% 25.1%)
}

/*
:root {
  --background: var(--color-iuc-green);
  --foreground: var(--color-iuc-stone);
}
*/

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/
